.movies {
    display: grid;
    grid-template-columns: 30% 30% 30%;
}

nav {
    background: rgb(28, 75, 156);
    height: 50px;
    display: flex;
    align-items: center;
}

section.movies {
    justify-content: center;
}

.card {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.358);
    transition: 0.3s;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0 15px 15px 0 rgb(0, 0, 0);
}

.moveListImage {
    width: 100%;
}